absl-py==2.1.0
aiohttp==3.10.3
aiosignal==1.3.1
astunparse==1.6.3
async-timeout==4.0.3
asynctest==0.13.0
attrs==24.2.0
Automat==22.10.0
beautifulsoup4==4.12.3
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
constantly==23.10.4
edlib==1.3.9
Flask==3.0.3
flatbuffers==24.3.25
frozenlist==1.4.1
gast==0.6.0
google-auth==2.33.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
grpcio==1.65.4
gviz-api==1.10.0
hyperlink==21.0.0
idna==3.7
importlib-metadata==8.2.0
incremental==24.7.2
itsdangerous==2.2.0
Jinja2==3.1.4
keras==3.5.0
Keras-Preprocessing==1.1.2
libclang==18.1.1
lxml==5.3.0
Markdown==3.7
MarkupSafe==2.1.5
multidict==6.0.5
oauthlib==3.2.2
opt-einsum==3.3.0
pi==0.1.2
pyasn1==0.6.0
pyasn1-modules==0.4.0
pygame==2.6.0
pyodbc==5.1.0
pyparsing==3.1.2
python-version==0.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
soupsieve==2.6
sqltree==0.3.0
tdqm==0.0.1
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorboard-plugin-profile==2.17.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.17.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.3
wrapt==1.16.0
yarl==1.9.4
zipp==3.20.0
zope.interface==7.0.1
